### sets

In [35]:
# create a 
my_set = {1, 2, 3, 4, 5, 6, }
print(my_set)

{1, 2, 3, 4, 5, 6}

In [36]:
# addind a element
my_set.add(7)
print(my_set)

{1, 2, 3, 4, 5, 6, 7}

In [37]:
#removing an elements
my_set.remove(4)
print(my_set)

{1, 2, 3, 5, 6, 7}

In [38]:
my_list_1 = [1, 2, 3, 4, 5, 6, 7, 8, 4, 3, 2, 6,]
print(my_list_1)
print(type(my_list_1))
my_set_1 = set(my_list_1)
print(my_set_1)
print(type(my_set_1))

[1, 2, 3, 4, 5, 6, 7, 8, 4, 3, 2, 6]
<class 'list'>
{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

In [39]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 4, 3, 2, 6,)
print(my_tuple)
print(type(my_tuple))
my_set_2 = set (my_tuple)
print(my_set_2)
print(type(my_set_2))

(1, 2, 3, 4, 5, 6, 7, 8, 4, 3, 2, 6)
<class 'tuple'>
{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

In [40]:
my_set.pop()

1

In [41]:
my_set

{2, 3, 5, 6, 7}

In [42]:
my_set.add(8)

In [43]:
my_set.remove(8)

In [44]:
my_set.clear()

In [45]:
my_list_1.clear()

In [46]:
# membership in sets
my_set_1 = {1, 2, 3, 4, 5, 6, 7}
print(10 in my_set_1)
print(8 in my_set_1)
print(7 in my_set_1)
print(2 in my_set_1)

False
False
True
True

In [47]:
# Union of two sets
set_a = {1, 2, 3, 4, 5, 6, 7, 8, }
set_b = {3, 4, 5,9, 10, 11, 12}
union_set = set_a.union(set_b)
print("Union:", union_set)
union_set = set_b.union(set_a)
print("union:", union_set)

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [48]:
# Intersection of two sets
set_a = {1, 2, 3, 4, 5, 6, 7, 8, }
set_b = {3, 4, 5,9, 10, 11, 12}
print(set_a)
print(set_b)
intersection_set = set_a.intersection(set_b)
print("Intersection:", intersection_set)

set_a.intersection_update(set_b) # common elements update to set_a
print(set_a)
print(set_b)
set_b.intersection_update(set_a) # common elements update to set_2
print(set_b)

{1, 2, 3, 4, 5, 6, 7, 8}
{3, 4, 5, 9, 10, 11, 12}
Intersection: {3, 4, 5}
{3, 4, 5}
{3, 4, 5, 9, 10, 11, 12}
{3, 4, 5}

In [49]:
# Difference of two sets
set_1 = {1,2,3,4,5,6,7}
set_2 = {5,6,7,8,9}
set_3 = {10,22,44,6,8,9}

print(set_2.difference(set_1)) # difference in set_2 will print when compared to set_1 is having common elements
print(set_2)
print(set_1.difference(set_2))
print(set_1)
print(set_1.difference(set_3))
print(set_1)
print(set_3.difference(set_1))
print(set_3)
print(set_1.difference(set_1))
print(set_1)
print(set_1.symmetric_difference(set_2)) # remove the common elements and print the unique elements.
print(set_1)

{8, 9}
{5, 6, 7, 8, 9}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 6, 7}
{8, 9, 10, 44, 22}
{6, 22, 8, 9, 10, 44}
set()
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 8, 9}
{1, 2, 3, 4, 5, 6, 7}

In [50]:
set_1 = {1,2,3,4,5,6,8,7}
set_2 = {5,6,7,8}
set_3 = {10,22,44,6,8,9}

print(set_2.issubset(set_1))
print(set_1.issubset(set_2))
print(set_1.issuperset(set_2))
print(set_2.issuperset(set_1))

True
False
True
False

In [6]:
set_1 = {}
print(type(set_1))

<class 'dict'>