In [155]:
2+2

4

In [156]:
2*5

10

In [157]:

'sanjay doguparthi'

'sanjay doguparthi'

In [158]:
print('sanjay doguparthi')

sanjay doguparthi

In [159]:
list = [1,2,3,4,5,6]

In [160]:
list

[1, 2, 3, 4, 5, 6]

In [161]:
list.append('sanjay')

In [162]:
list

[1, 2, 3, 4, 5, 6, 'sanjay']

In [163]:
list.extend([9,8,7])

In [164]:
list

[1, 2, 3, 4, 5, 6, 'sanjay', 9, 8, 7]

In [165]:
list.pop()

7

In [166]:
list.pop(7)

9

In [167]:
list.pop(6)

'sanjay'

In [168]:
list
#sum((int)list)

[1, 2, 3, 4, 5, 6, 8]

In [169]:
list

[1, 2, 3, 4, 5, 6, 8]

In [170]:
names=('sanjay','doguparthi','klayan','doguparthy')

In [171]:
names

('sanjay', 'doguparthi', 'klayan', 'doguparthy')

In [172]:
list.append(3)

In [173]:
list

[1, 2, 3, 4, 5, 6, 8, 3]

In [174]:
namelist = list

In [175]:
namelist

[1, 2, 3, 4, 5, 6, 8, 3]

In [176]:
list

[1, 2, 3, 4, 5, 6, 8, 3]

In [177]:
list.index(3)

2

In [178]:
names = ('sanjay','klayan','vinay','rahul')

In [179]:
namelist = [names]

In [180]:
namelist

[('sanjay', 'klayan', 'vinay', 'rahul')]

In [181]:
list.append('vinod')

In [182]:
namelist

[('sanjay', 'klayan', 'vinay', 'rahul')]

In [183]:
list

[1, 2, 3, 4, 5, 6, 8, 3, 'vinod']

In [185]:
type(True)

TypeError: 'bool' object is not callable

In [ ]:
type(False)

bool

In [ ]:
type([])

list

In [ ]:
list_example = []

In [ ]:
type(list_example)

list

In [ ]:
type(list)

list

In [ ]:
list = ['sanjay','kalyan','vinay','rudra','rahul']

In [ ]:
type(list)

list

In [ ]:
list

['sanjay', 'kalyan', 'vinay', 'rudra', 'rahul']

In [ ]:
list.append('srinu')

In [ ]:
list

['sanjay', 'kalyan', 'vinay', 'rudra', 'rahul', 'srinu']

In [ ]:
list[3]

'rudra'

In [ ]:
list[4]

'rahul'

In [ ]:
list.insert(3,'ravindra')

In [ ]:
list

['sanjay', 'kalyan', 'vinay', 'ravindra', 'rudra', 'rahul', 'srinu']

In [ ]:
list.insert(5,'pavan kumar')

In [ ]:
list

['sanjay',
 'kalyan',
 'vinay',
 'ravindra',
 'rudra',
 'pavan kumar',
 'rahul',
 'srinu']

In [ ]:
len(list)

8

In [ ]:
list[:3]

['sanjay', 'kalyan', 'vinay']

In [ ]:
list[4:]

['rudra', 'pavan kumar', 'rahul', 'srinu']

In [ ]:
list.extend(['siva kumar'])

In [ ]:
list

['sanjay',
 'kalyan',
 'vinay',
 'ravindra',
 'rudra',
 'pavan kumar',
 'rahul',
 'srinu',
 'siva kumar']

In [ ]:
list.pop()

'siva kumar'

In [ ]:
list.pop(5)

'pavan kumar'

### dictionary method ###

In [ ]:
dic = {}

In [ ]:
type(dic)

dict

In [ ]:
type(dict())

dict

In [ ]:
set_example = {1,2,3,4,5}

In [ ]:
type(set_example)

set

In [7]:
## let's create a dictionary
my_dict = {'name': 'sanjay','age': '24','city': 'chirala'}

In [ ]:
type(my_dict)

dict

In [ ]:
my_dict['name']

'sanjay'

In [ ]:
my_dict['age']

'24'

In [ ]:
my_dict['city']

'chirala'

In [ ]:
my_dict.update({'cuntry': 'india'})

In [ ]:
my_dict

{'name': 'sanjay', 'age': '24', 'city': 'chirala', 'cuntry': 'india'}

In [ ]:
my_dict

{'name': 'sanjay', 'age': '24', 'city': 'chirala', 'cuntry': 'india'}

In [ ]:
my_dict.pop('cuntry')

'india'

In [ ]:
my_dict

{'name': 'sanjay', 'age': '24', 'city': 'chirala'}

In [ ]:
my_dict.popitem()

('city', 'chirala')

In [ ]:
my_dict

{'name': 'sanjay', 'age': '24'}

In [ ]:
my_dict.update({'state': 'andhra pradesh'})

In [ ]:
my_dict

{'name': 'sanjay', 'age': '24', 'state': 'andhra pradesh'}

In [ ]:
my_dict.pop('state')

'andhra pradesh'

In [ ]:

my_dict.update({'state': 'andhra pradesh'})

In [ ]:
my_dict

{'name': 'sanjay', 'age': '24', 'state': 'andhra pradesh'}

In [ ]:
len(my_dict)

3

In [ ]:
my_dict['state2'] = 'telangana'

In [ ]:
my_dict

{'name': 'sanjay',
 'age': '24',
 'state': 'andhra pradesh',
 'state2': 'telangana'}

In [ ]:
len(my_dict)

4

In [ ]:
my_dict

{'name': 'sanjay',
 'age': '24',
 'state': 'andhra pradesh',
 'state2': 'telangana'}

In [ ]:
del my_dict['age']

In [8]:
my_dict

{'name': 'sanjay', 'age': '24', 'city': 'chirala'}

In [ ]:
my_dict.keys()

dict_keys(['name', 'state', 'state2'])

In [ ]:
my_dict.values()

dict_values(['sanjay', 'andhra pradesh', 'telangana'])

In [ ]:
my_dict.keys()

dict_keys(['name', 'state', 'state2'])

In [9]:
my_dict.values()

dict_values(['sanjay', '24', 'chirala'])

In [10]:
if 'name' in my_dict:
    print('yes, name is present in my_dict2')

yes, name is present in my_dict2

In [11]:
my_dict

{'name': 'sanjay', 'age': '24', 'city': 'chirala'}

In [12]:
## add a new dictionary to my_dict
my_dict.update({'address': {'street': 'vinayaka street', 'city': 'chirala'}})

In [13]:
my_dict

{'name': 'sanjay',
 'age': '24',
 'city': 'chirala',
 'address': {'street': 'vinayaka street', 'city': 'chirala'}}

In [ ]:

my_dict['city'] = 'hyderabad'

In [ ]:
my_dict

{'name': 'sanjay',
 'age': '24',
 'address': {'street': 'vinayaka street', 'city': 'chirala'},
 'city': 'hyderabad'}

In [15]:
my_dict['name']

'kalyan'

In [ ]:
my_dict

{'name': 'kalyan',
 'age': '24',
 'address': {'street': 'vinayaka street', 'city': 'chirala'},
 'city': 'hyderabad'}

### tuples ###

In [ ]:
## create a enpty tuple
my_tuple = ()

In [ ]:
type(my_tuple)

tuple

In [ ]:
my_tuple = (1,2,3,4,5)

In [ ]:
my_tuple[0]

1

In [ ]:
my_tuple[1]

2

In [ ]:
my_tuple[4]

5

In [ ]:
my_tuple[:3]

(1, 2, 3)

In [ ]:
my_tuple[4:]

(5,)

In [ ]:
my_tuple[2:4]

(3, 4)

In [ ]:

my_tuple[1:3]
my_tuple[1:4]

(2, 3, 4)

In [ ]:
## rorational operators
a = 10
b = 20 
# == equal to
# != not equal to
print("a == b is", a == b)
print("a != b is", a != b)

a == b is False
a != b is True

In [ ]:
var_age = 25
var_str = 'sanjay'
var_float = 10.5
print("var_age is", var_age)
print("var_str is", var_str)
print("var_float is", var_float)

var_age is 25
var_str is sanjay
var_float is 10.5

In [ ]:
## input function
# The input function allows you to take input from the user.
variable = int(input("Enter a number: "))
print("You entered:", variable)

You entered: 65

### logical operators

In [ ]:
## and, or, not operators

## and operator
# The and operator returns True if both operands are True.
a = True
b = True
print("a and b is", a and b)

a and b is True

In [ ]:
## or operator
# The or operator returns True if at least one of the operands is True.
a = True
b = False
print("a or b is", a or b)

a or b is True

In [ ]:
## not operator
# The not operator returns True if the operand is False, and vice versa.
a = True
print("not a is", not a)

not a is False

In [ ]:
## relational operators
a = 10
b = 20      
# == equal to
# != not equal to
print("a == b is", a == b)
print("a != b is", a != b)

a == b is False
a != b is True

In [ ]:
a = 10
b = 20  
# > greater than
# < less than
print("a > b is", a > b)
print("a < b is", a < b)

a > b is False
a < b is True

In [ ]:
a= 10
b = 20
# >= greater than or equal to
# <= less than or equal to
print("a >= b is", a >= b)
print("a <= b is", a <= b)

a >= b is False
a <= b is True

In [ ]:
## operators in python
a = 10
b = 20
adition = a + b
subtraction = a - b 
multiplication = a * b
division = a / b
print("Addition:", adition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
# Modulus operator
modulus = a % b
print("Modulus:", modulus)
# Exponentiation operator
exponentiation = a ** b
print("Exponentiation:", exponentiation)
# Floor division operator
floor_division = a // b
print("Floor Division:", floor_division)

Addition: 30
Subtraction: -10
Multiplication: 200
Division: 0.5
Modulus: 10
Exponentiation: 100000000000000000000
Floor Division: 0

### control_flow_statements

In [ ]:
age = 25
if(age == 25):
    print("You are 25 years old")   # the condition evalution is True
else:
    print("You are not 25 years old")# 
if(age != 25):
        print("You are 25 years old")# the condition evalution is False
else:
    print("You are not 25 years old") # the condition evalution is True
if(age < 23):
    print("You are 2 years younger then me") # the condition evalution is False
else:
    print("yes, you are 2 years older than me") # the condition evalution is True
if(age > 23):
    print("You are 2 years older than me") # the condition evalution is True
else:
    print("yes, i am  2 years younger than you") # the condition evalution is False
if(age <= 17):
    print("you are elegible for voting") # the condition evalution is False
else:
    print("you are not elegible for voting") # the condition evalution is True
if(age >= 18):  
    print("you are elegible for voting") # the condition evalution is True  
else:
    print("you are not elegible for voting") # the condition evalution is False

You are 25 years old
You are not 25 years old
yes, you are 2 years older than me
You are 2 years older than me
you are not elegible for voting
you are elegible for voting

In [ ]:
age = 25
if age == 25:
    print("You are 25 years old")   # the condition evalution is True

You are 25 years old

In [ ]:
age = 25

(age == 25)
(age != 25)
(age < 23)
(age > 23)
(age <= 17)
(age >= 18)

True

In [ ]:
age = 25
(age < 23)

False

In [ ]:
age = 25
(age > 23)

True

In [ ]:
age = 25
(age <= 17)

False

In [ ]:
age = 25
(age >= 18)

True

In [ ]:
age = 25
(age != 18)

True

In [ ]:
 ## conditional operators
age = 25
age == 25
age != 25   
age < 23
age > 23
age <= 17
age >= 18
# Logical operators
a = True
b = False   
# and operator
# or operator
# not operator

In [ ]:
age = 25
(age == 25)

True

In [ ]:
age = 25
(age != 25)

False

In [ ]:
age = 25
(age < 23)

False

In [ ]:
age = 25
(age >  0)

True

In [ ]:
age = 25
(age <= 24.9)

False

In [ ]:
age = 25
(age >= -1)

True

In [ ]:
a = True
b = True
(a and b)

True

In [ ]:
a = True
b = False
(a or b)

True

In [ ]:
a = True
(not a)

False

In [ ]:
a = True
b = False
(not  b)

True

In [ ]:
age = 25
if age == 25:
    print("You are 25 years old")   # the condition evalution is True
else:
    print("You are not 25 years old")# the condition evalution is False

You are 25 years old

In [ ]:
age = 25
if age != 25:
    print("You are 25 years old")   # the condition evalution is False
else:
    print("You are not 25 years old")# the condition evalution is True

You are not 25 years old

In [ ]:
age = 29
if age < 23:
    print("You are 2 years younger then me") # the condition evalution is False
else:
    print("yes, you are 2 years older than me")# the condition evalution is True

yes, you are 2 years older than me

In [ ]:
age = 50
if age > 23:
    print("You are  older than me") # the condition evalution is True
else:
    print("yes, i am  younger than you")# the condition evalution is False

You are  older than me

In [ ]:
age = 25
if age <= 17:
    print("you are elegible for voting") # the condition evalution is False
else:
    print("you are not elegible for voting") # the condition evalution is True

you are not elegible for voting

In [ ]:
age = 25
if age >= 18:  
    print("you are elegible for voting") # the condition evalution is true 
else:
    print("you are not elegible for voting") # the condition evalution is False

you are elegible for voting

In [ ]:
print("exam results")
marks = 90
if marks == 36:
    print("you are pramoting the next class")
elif marks > 80:
    print('you pass the exam')
    if marks > 80:
        print('you have good marks:',marks)
else:
    print('you fail the exam')

exam results
you pass the exam
you have good marks: 90

### while loop

In [ ]:
c = 0
while c < 10:
    c += 1
    if c == 3:
        print('c value is 3')
        continue
    print(c,'hello,sanjay')

1 hello,sanjay
2 hello,sanjay
c value is 3
4 hello,sanjay
5 hello,sanjay
6 hello,sanjay
7 hello,sanjay
8 hello,sanjay
9 hello,sanjay
10 hello,sanjay

In [ ]:
a = 0
while a < 6:
    a += 1
    if a == 4:
        print(' a value is 4')
        continue
    print(a,'hello,world')

1 hello,world
2 hello,world
3 hello,world
 a value is 4
5 hello,world
6 hello,world

### For loop

In [ ]:
for c in range(1, 6):
    print(c)

1
2
3
4
5

In [ ]:
persons = ['sanjay','kalyan','vikram','harish','ravi',]
for name in persons:
    print(name)

sanjay
kalyan
vikram
harish
ravi

In [ ]:
name = 'kalyan kumar'
for x in name:
    print(x)

k
a
l
y
a
n

k
u
m
a
r

In [ ]:
people = ['sanjay','kalyan','sunil','anil','vinay','rahul','sameer','harish',]
for x in people:
    if x == 'rahul':
        continue
    print(x)

sanjay
kalyan
sunil
anil
vinay
sameer
harish

In [ ]:
people = ['sanjay','kalyan','sunil','anil','vinay','rahul','sameer','harish']
for x in people:
    print(x)
else:
    print('rohith')

sanjay
kalyan
sunil
anil
vinay
rahul
sameer
harish
rohith

In [ ]:
## while loop
count = 0
while count < 6:
    count += 1
    if count == 3:
        print('count value is 3')
        continue
    print(count,'hello,sanjay')

1 hello,sanjay
2 hello,sanjay
count value is 3
4 hello,sanjay
5 hello,sanjay
6 hello,sanjay

In [ ]:
## for loop
people = ['sanjay','vinay','arjun','avinash','sai','vinay']
for people in people:
    print(people)

sanjay
vinay
arjun
avinash
sai
vinay

In [ ]:
people = ['sanjay','vinay','arjun','avinash','sai','vinay']
for people in people:
    if people == 'avinash':
        break
    print(people)

sanjay
vinay
arjun

In [ ]:
people = 'sanjay'
for people in people:
    print(people)

s
a
n
j
a
y

In [ ]:
people = ['sanjay','vinay','arjun','avinash','sai','vinay']
for people in  people:
    if people == 'avinash':
        continue
    print(people)

sanjay
vinay
arjun
sai
vinay

In [ ]:
## if_statements
print('exam results')
marks = 51
if marks == 50:
    print('you are promoted marks:', marks)
elif marks > 40 and marks<=100:
    print('you pass the exam:')
    if marks >= 45 and marks <=51:
        print('you have good marks:',marks)
    elif marks >50 and marks <=80:
        print('you have a great marks:',marks)   
    elif marks >= 81 and marks <=96:
        print('you got a best marks:',marks)
    elif marks>96 and marks <= 100:
        print('you got the first rank:', marks)
    else:
        print("None of the above")

exam results
you pass the exam:
you have good marks: 51

In [ ]:
## while loop
c = 0
while c < 6:
    c += 1
    if c == 3:
        print('c value is 3 now')
        continue
    print(c,'hello')

1 hello
2 hello
c value is 3 now
4 hello
5 hello
6 hello

In [ ]:
## for loop
people = ['sanjay','vinay','arjun','avinash','sai','vinay']
for people in people:
    if people == 'avinash':
        continue
    print(people)

sanjay
vinay
arjun
sai
vinay

In [ ]:
people = ['vinay','mahesh','sudheer','naveen','srinu','venu','pavan']
for x in people:
    if x == 'naveen':
        break
    print(x)

vinay
mahesh
sudheer

In [ ]:
people = {'pavan','vinay','srinu','vinod','rahul','sameer','harsha'}
for x in people:
    if x == "rahul":
        continue
    print(x)
else:
    print("sridhar")

vinay
srinu
pavan
vinod
sameer
harsha
sridhar

In [ ]:
persons = ['pavan','vinay','srinu','vinod','rahul','sameer','harsha']
for x in persons:
    if x == 'rahul':
        continue
    print(x)
else:
    print('varun')

pavan
vinay
srinu
vinod
sameer
harsha
varun

In [ ]:
for c in range(1,6):
    print(c)

1
2
3
4
5

In [ ]:
list = ['ravi','vinay','ashok','naresh','sanjay']
for x in list:
    if x == 'ravi':
        continue
    print(x)
else:
    print('ravi')

vinay
ashok
naresh
sanjay
ravi

In [ ]:
list = 'vinay'
for x in list:
    print(x)

v
i
n
a
y

In [ ]:
## while loop
count = 0
while count < 6:
    if count == 3:
        print('count value is 3')
    print(count,'hello,sanjay')
    count += 1

0 hello,sanjay
1 hello,sanjay
2 hello,sanjay
count value is 3
3 hello,sanjay
4 hello,sanjay
5 hello,sanjay

In [ ]:
for c in range(1,6):
    print(c)
    c += 1

1
2
3
4
5

In [ ]:
print('exam results')
marks = 100
if marks == 60:
    print('you are promoted marks:', marks)
elif marks > 40 and marks<=100:
    print('you pass the exam:')
    if marks >= 45 and marks <=50:
        print('you have good marks:',marks)
    elif marks >50 and marks <=80:
        print('you have a great marks:',marks)   
    elif marks >= 81 and marks <=96:
        print('you got a best marks:',marks)
    elif marks>96 and marks <= 99:
        print('you got the first rank:', marks)
    else:
        print("None of the above")

exam results
you pass the exam:
None of the above

### user input

In [ ]:
print('enter somthing to the print: ')
x = input()
print(x)

enter somthing to the print:
sanjay

In [ ]:
x = input('enter somthing to print:  ')
print(x)

sanjay

In [ ]:
x = input('enter 1st number : ')
y = input('enter 2nd number : ')
a = int(x)
b = int(y)
z = a+b
print('results :', z)

results : 50

In [ ]:
x = int(input('enter 1st number : '))
y = int(input('enter 2nd number : '))
z = x+y
print('results :', z)

results : 99

In [ ]:
x = input('enter any charecter:')
while len(x) != 1:
    print('please enter single charecter only')
    x = input('enter any charecter: ')
    print(x)

please enter single charecter only
kalyan
please enter single charecter only
sanjay
please enter single charecter only
ajay
please enter single charecter only
vinay
please enter single charecter only
v

### functions

In [ ]:
def sayhello():
    print('hello kalyan')
    print('good morning')

sayhello() # call the function
print('what are you doing')
print('when do you work right now')

hello kalyan
good morning
what are you doing
when do you work right now

In [ ]:
def sayhello(name= 'user'):# function name as a argument
    print('hello',name)
    print('good morning')

user_name = ('avinash')
sayhello(user_name)
sayhello('sanjay')
sayhello('kalyan')
sayhello()

hello avinash
good morning
hello sanjay
good morning
hello kalyan
good morning
hello user
good morning

In [ ]:
def add(num1,num2):  ##  add number of arguments
    result = num1+num2
    print('result :', result)
add(55,20)
add(60,40)
add(25,25)

result : 75
result : 100
result : 50

In [ ]:
def getsum(*x):## list of arguments
    result = 0
    for a in x:
        result += a
    print('result:',result)
    print(x[3])
getsum(25,5,33,22,15)

result: 100
22

In [ ]:
def sayhello(name,age,country = 'india'):## formal arguments
    print('hallo', name)
    print('whats your age')
    print(' my age is : ',age)
    print('i am from',country)

sayhello('sanjay',24) # actual arguments
print('.\n')
sayhello('kalyan',28,'india')

hallo sanjay
whats your age
 my age is :  24
i am from india
.

hallo kalyan
whats your age
 my age is :  28
i am from india

In [ ]:
list_example = []

In [ ]:
lst = ['sanjay','kalyan', 4 , 4.10 , True]

In [191]:
#re the built-in type function if it was overwritten

In [193]:
type(True)

TypeError: 'bool' object is not callable

In [194]:
lst

['sanjay', 'kalyan', 4, 4.1, True]

In [195]:
lst.append('sanjay')

In [196]:
lst

['sanjay', 'kalyan', 4, 4.1, True, 'sanjay']

In [ ]:
print("index: 0",lst[0])
print("index: 1",lst[1])
print("index: 2",lst[2])
print("index: 3",lst[3])
print("index: 4",lst[4])
print("index: 5",lst[5])

index: 0 sanjay
index: 1 kalyan
index: 2 4
index: 3 4.1
index: 4 True
index: 5 sanjay

In [ ]:
print("index:",lst[-1])
print("index:",lst[-2])
print("index:",lst[-3])
print("index:",lst[-4])
print("index:",lst[-5])
print("index:",lst[-6])

index: sanjay
index: True
index: 4.1
index: 4
index: kalyan
index: sanjay

In [ ]:
#type = True

In [ ]:
#type = lst

In [ ]:
#type = 4.10

In [ ]:
#type = False

In [ ]:
def sayhello():
    print('hello kalyan')
    print('good morning')

sayhello() # call the function
print('what are you doing')
print('when do you work right now')

hello kalyan
good morning
what are you doing
when do you work right now

In [ ]:
sayhello()

hello kalyan
good morning

In [ ]:
def username():
    print('hello sanjay')
    print('good morning')

username()
print('what are you doing')
print('i am practicing python')

hello sanjay
good morning
what are you doing
i am practicing python

In [ ]:
def adding(num1,num2):
    add = num1+num2
    subtraction = num1-num2
    multiplication = num1*num2
    division = num1/num2
    print('result : ', add)
    print('result : ', subtraction)
    print('result : ', multiplication)
    print('result : ', division)

adding(25,25)

result :  50
result :  0
result :  625
result :  1.0

In [ ]:
def sum(*x):## list of arguments
    result = 0
    for a in x:
        result += a
    print('result:',result)

sum(25.3,5.5,3.3,2.2,15,20,35,23,56,4.1)

result: 189.4

### arbitrry keyword arguments

In [ ]:
def person(**data):
    print(data)
    for k,v in data.items():
        print(k, ':', v)
        

person(firstname='sanjay',secondname2='kalyan',thirdname3='avinash',age=24,mobile=123456789)

{'firstname': 'sanjay', 'secondname2': 'kalyan', 'thirdname3': 'avinash', 'age': 24, 'mobile': 123456789}
firstname : sanjay
secondname2 : kalyan
thirdname3 : avinash
age : 24
mobile : 123456789

In [25]:
lst = ['sanjay','kalyan','sunil','anil','praveen','vamsi','avinash','mahesh','vinod']

print('char',lst[0])
print(lst[::4])
print(lst[::5])
print(lst[::6])
print(lst[::2])

char sanjay
['sanjay', 'praveen', 'vinod']
['sanjay', 'vamsi']
['sanjay', 'avinash']
['sanjay', 'sunil', 'praveen', 'avinash', 'vinod']

In [23]:
lst = 'kalyan'

In [24]:
lst

'kalyan'

In [26]:
lst

['sanjay',
 'kalyan',
 'sunil',
 'anil',
 'praveen',
 'vamsi',
 'avinash',
 'mahesh',
 'vinod']

In [27]:
my_list = ["hello", "world", "python"]
for char in my_list[0]:
    print(char)

h
e
l
l
o

In [28]:
lst

['sanjay',
 'kalyan',
 'sunil',
 'anil',
 'praveen',
 'vamsi',
 'avinash',
 'mahesh',
 'vinod']

In [ ]:
lst = ['sanjay','kalyan','sunil','anil','praveen','vamsi','avinash','mahesh','vinod']
for char in lst[5]:
    print(':', char)

  : v
  : a
  : m
  : s
  : i

In [35]:
chars =['kalyan kumar']
print(chars)

['kalyan kumar']

In [36]:
lst = ['sanjay','kalyan','sunil','anil','praveen','vamsi','avinash','mahesh','vinod']
for char in lst[4]:
    print(char)

p
r
a
v
e
e
n

In [77]:
lst = ['sanjay']

for string in lst:
    for char in string:
        print(char[0::-1])

s
a
n
j
a
y

In [ ]:
## list comprehension condition
list = []
for list in range (10):
    if list%2 == 0:
      print(list)

0
2
4
6
8

In [16]:
even_numbers = [list for list in range(10) if list%2 == 0]

print(even_numbers)

[0, 2, 4, 6, 8]

In [17]:
odd_numbers = [list for list in range(10) if list%2 != 0]

print(odd_numbers)

[1, 3, 5, 7, 9]

In [6]:
list = []
for list in range(10):
    if list%2 != 0:
        print(list)

1
3
5
7
9

In [10]:
list = []
for x in range(10):
    list.append(x**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [11]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [18]:
square = [list**2 for list in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
## nested list comprehension

list_1 = [1,2,3]
list_2 = ['sanjay','kalyan']
pair_list = [[i,j]for i in list_1 for j in list_2]

print(pair_list)

[[1, 'sanjay'], [1, 'kalyan'], [2, 'sanjay'], [2, 'kalyan'], [3, 'sanjay'], [3, 'kalyan']]

In [21]:
## list of comprehension with funcction calls

words = ['sanjay','kalyan','indexing','append','insert','remove','clear','list']
lengths = [len(word) for word in words]
print(lengths)

[6, 6, 8, 6, 6, 6, 5, 4]

In [25]:
skills = ['python','java','linux','cloud computing','SQL','AWS','C++' ]
lengths = [len(name) for name in names]
print(lengths)

[6, 4, 5, 15, 3, 3, 3]

In [13]:
#relation operators
a = -1
b = 0
if a <= b:
    print('a is equal to b:', a and b)
else:
    print('a is not equal to b:', a and b)

a is equal to b: 0

In [17]:
# and operator
a = False
b = True
print('a and b is', a and b)

a and b is False

In [5]:
import calendar

year = int(input('enter year:   '))
month = int(input('enter month:  '))

cal = calendar.month(year, month)

print(cal)

   February 2028
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29

In [12]:
 ##Write a Python Program to Check if a Number is Positive, Negative or Zero.
num = int(input("Enter a number: "))
if num > 0:
    print("Positive number")
elif num == 0:
     print("Zero")
else:
    print("Negative number")

Positive number

In [20]:
## Write a Python Program to Check if a Number is Odd or Even.
num = int(input("Enter a number: "))
if num%2 == 0:
    print("This is a even number")
else:
    print("This is a odd number")

This is a even number

In [1]:
## Write a Python Program to Display the multiplication Table
num = int(input('display multiplication table: '))

for i in range(1, 11):
 print(f"{num} X {i} = {num*i}")

14 X 1 = 14
14 X 2 = 28
14 X 3 = 42
14 X 4 = 56
14 X 5 = 70
14 X 6 = 84
14 X 7 = 98
14 X 8 = 112
14 X 9 = 126
14 X 10 = 140

In [45]:
##Write a Python Program to Make a Simple Calculator with 4 basic mathematical operations
 # This function adds two numbers
def add(x, y):
    return x + y
 # This function subtracts two numbers
def subtract(x, y):
    return x - y
 # This function multiplies two numbers
def multiply(x, y):
    return x * y
 # This function divides two numbers
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
while True:
 # take input from the user
 choice = input("Enter choice(1/2/3/4): ")
 # check if choice is one of the four options
 if choice in ('1', '2', '3', '4'):
    try:

        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))
    except ValueError:
        print("Invalid input. Please enter a number.")
        continue
    if choice == '1':
        print(num1, "+", num2, "=", add(num1, num2))
    elif choice == '2':
        print(num1, "-", num2, "=", subtract(num1, num2))
    elif choice == '3':
        print(num1, "*", num2, "=", multiply(num1, num2))
    elif choice == '4':
        print(num1, "/", num2, "=", divide(num1, num2))
    # check if user wants another calculation
    # break the while loop if answer is no
    next_calculation = input("Let's do next calculation? (yes/no)")
    if next_calculation == "no":
     break
 else:
    print("Invalid Input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide

20.0 * 2.0 = 40.0
60.0 / 30.0 = 2.0

In [4]:
## Write a Python Program to Check Leap Year.
year = int(input("Enter a year: "))
        # divided by 100 means century year (ending with 00)
        # century year divided by 400 is leap year
if (year % 400 == 0) and (year % 100 == 0):
    print("{0} is a leap year".format(year))
   # not divided by 100 means not a century year
    # year divided by 4 is a leap year
elif (year % 4 ==0) and (year % 100 != 0):
    print("{0} is a leap year".format(year))
            # if not divided by both 400 (century year) and 4 (not century year)
            # year is not leap year
else:
    print("{0} is not a leap year".format(year))

2028 is a leap year

In [22]:
##Write a Python program to swap two variables

# Input two variables
a = input("Enter the value of the first variable (a): ")
b = input("Enter the value of the second variable (b): ")
 # Display the original values
print(f"Original values: a = {a}, b = {b}")
 # Swap the values using a temporary variable
temp = a
a = b
b = temp
 # Display the swapped values
print(f"Swapped values: a = {a}, b = {b}")

Original values: a = 20, b = 10
Swapped values: a = 10, b = 20

In [37]:
# Write a Python program to do arithmetical operations addition and division
# Addition
num1 = float(input("Enter the first number for addition: "))
num2 = float(input("Enter the second number for addition: "))
sum_result = num1 + num2
print(f"sum: {num1} + {num2} = {sum_result}")

sum: 20.0 + 30.0 = 50.0

In [28]:
 # Division
num3 = float(input("Enter the dividend for division: "))
num4 = float(input("Enter the divisor for division: "))
if num4 == 0:
 print("Error: Division by zero is not allowed.")
else:
 div_result = num3 / num4
 print(f"Division: {num3} / {num4} = {div_result}")

Division: 4.0 / 4.0 = 1.0

In [33]:
# Write a Python program to convert kilometers to miles

kilometers = float(input("Enter distance in kilometers: "))
#Conversion factor: 1 kilometer = 0.621371 miles
conversion_factor = 0.621371
miles = kilometers * conversion_factor
print(f"{kilometers} kilometers is equal to {miles} miles")

20.0 kilometers is equal to 12.42742 miles

In [13]:
def sayhello(name,age,country = 'india'):## formal arguments
    print('student name:', name)
    print('age:' ,age)
    print('from:',country)

sayhello('sanjay', 24, 'india') # actual arguments
print('.\n')
sayhello('kalyan',28,'india')

student name: sanjay
age: 24
from: india
.

student name: kalyan
age: 28
from: india

In [12]:
def sayhello(name,age,country = 'india'):## formal arguments
    print('hallo', name)
    print('whats your age')
    print(' my age is : ',age)
    print('i am from',country)

sayhello('sanjay',24) # actual arguments
print('.\n')
sayhello('kalyan',28,'india')

hallo sanjay
whats your age
 my age is :  24
i am from india
.

hallo kalyan
whats your age
 my age is :  28
i am from india

In [1]:
student = {"Name":"ABC", "Roll_No": 11,"Age": 15, "Place": "Bangalore"}

student_1 = student

print(student_1)
print(student)

student_1["Name"] = "ABSC"
student_1["Age"] = 21

print(student_1)
print(student)

student_1["Name"] = "ABSCnhshbbh"
student["Age"] = 28

print(student_1)
print(student)

{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}
{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}
{'Name': 'ABSC', 'Roll_No': 11, 'Age': 21, 'Place': 'Bangalore'}
{'Name': 'ABSC', 'Roll_No': 11, 'Age': 21, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}

In [6]:
student = {"Name":"ABC", "Roll_No": 11,"Age": 15, "Place": "Bangalore"}
student_2 = student.items()
print(student_2)
print(student)

student_2['Place'] = 'hyd'
student_2['Age'] = 27

print(student_2)
print(student_1)

dict_items([('Name', 'ABC'), ('Roll_No', 11), ('Age', 15), ('Place', 'Bangalore')])
{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}

TypeError: 'dict_items' object does not support item assignment

In [1]:
student_data = {
    'student_3':{'name':'sanjay','age':'24','branch':'mechanical'},
    'student_4':{'name':'kalyan','age':28,'branch':'ECE'}
}

for student_key,student_info in student_data.items():
    print(f"\n{student_key}:")
    for key, value in student_info.items():
        print(f"{key}:{value}")

student_3:
name:sanjay
age:24
branch:mechanical

student_4:
name:kalyan
age:28
branch:ECE

In [ ]:
tudent_data = {
    'student_3':{'name':'sanjay','age':'24','branch':'mechanical'},
    'student_4':{'name':'kalyan','age':28,'branch':'ECE'}
}

for student_key,student_info in student_data.items():
    print(f"\n{student_key}:")
    for key, value in student_info.items():
        print(f"{key}:{value}")

In [2]:

for student_key, student_info in student_data.items():
    print(f"{student_key}:")
    for key, value in student_info.items():
        print(f"  {key}: {value}")

student_3:
  name: sanjay
  age: 24
  branch: mechanical
student_4:
  name: kalyan
  age: 28
  branch: ECE

In [3]:
# Example tuple of key-value pairs
tuple_data = (('name', 'sanjay'), ('age', 24), ('branch', 'mechanical'))

# Convert tuple to dictionary
dict_data = dict(tuple_data)
print(dict_data)

{'name': 'sanjay', 'age': 24, 'branch': 'mechanical'}