In [1]:
## create empty tuple by using open and closed paranthesis

tuple_example = ()
print(tuple_example)
print(type(tuple_example))

()
<class 'tuple'>

In [2]:
tup = tuple() # Tuple can be created by using built in keyword in python.
print(type(tup))
lst = list()  # List can be created by using built in keyword in python.
print(type(lst))

<class 'tuple'>
<class 'list'>

In [4]:
tup = tuple (['sanjay','kalyan',25,4.10,False]) # List converted into tuple by using built in python keyword.
print(tup)
print(type(tup))

('sanjay', 'kalyan', 25, 4.1, False)
<class 'tuple'>

In [6]:
tup_1 = ('sanjay','vinay','harish',28,3.12,True)
print(tup_1)
list_1 = list(tup_1) # tuple is converted into list by using buit in python keyword
print(list_1)
print(type(list_1))

('sanjay', 'vinay', 'harish', 28, 3.12, True)
['sanjay', 'vinay', 'harish', 28, 3.12, True]
<class 'list'>

In [7]:
tup_2 = ('apple','banana','mango',30, 10.1, False)
list_2 = [tup_2] # tuple converted into list by using open and closed paranthesis
print(list_2)
print(type(list_2))

[('apple', 'banana', 'mango', 30, 10.1, False)]
<class 'list'>

In [8]:
list_3 = ['sanjay','kalyan', 10, 2.1, True]
print(list_3)
tup_3 = tuple(list_3)
print(tup_3)
print(type(tup_3))

['sanjay', 'kalyan', 10, 2.1, True]
('sanjay', 'kalyan', 10, 2.1, True)
<class 'tuple'>

In [4]:
# Accessing of tuple by using indexing

num = (1,2,3,4,5,6)
print(num)

(1, 2, 3, 4, 5, 6)

In [10]:
for i in range(len(num)):
    print(num[i])

1
2
3
4
5
6

In [11]:
num[:2]

(1, 2)

In [12]:
num[::3]

(1, 4)

In [14]:
num[1:3]

(2, 3)

In [15]:
num[:: -1]

(6, 5, 4, 3, 2, 1)

In [4]:
num

(1, 2, 3, 4, 5, 6)

In [2]:
num_1 = ('sanjay','ashok','vinay', 24, 1.55, True)
print(num_1)

('sanjay', 'ashok', 'vinay', 24, 1.55, True)

In [5]:
print(num)
print(num_1)
concat_tuple = num + num_1  #concatinate 2 tuples
print(concat_tuple)

add_tuple = num_1 +num
print(add_tuple)

(1, 2, 3, 4, 5, 6)
('sanjay', 'ashok', 'vinay', 24, 1.55, True)
(1, 2, 3, 4, 5, 6, 'sanjay', 'ashok', 'vinay', 24, 1.55, True)
('sanjay', 'ashok', 'vinay', 24, 1.55, True, 1, 2, 3, 4, 5, 6)

In [6]:
print(num *3)
print(num_1 * 2)

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)
('sanjay', 'ashok', 'vinay', 24, 1.55, True, 'sanjay', 'ashok', 'vinay', 24, 1.55, True)

In [8]:
# tuples immutability nature
print(num)
#num[0] = "add" # trying to modify the exising tuple.

(1, 2, 3, 4, 5, 6)

In [1]:
# tuple converted to list and add or modify the converted list from tuple
num = (9, 8, 7, 4, 5, 6 ,)
print(num)
lst_con = list(num)
print(lst_con)
lst_con.append("hello sanjay")
print(lst_con)
num_1 = tuple(lst_con)
print(num_1)
#print(num)

(9, 8, 7, 4, 5, 6)
[9, 8, 7, 4, 5, 6]
[9, 8, 7, 4, 5, 6, 'hello sanjay']
(9, 8, 7, 4, 5, 6, 'hello sanjay')

In [8]:
#tuple methods
print(num_1)
print(num)
print(num_1.count('vinay'))
print(num.index(5))

('sanjay', 'ashok', 'vinay', 24, 1.55, True)
(1, 2, 3, 4, 5, 6)
1
4

In [ ]:
#packing a tuple

pack_tuple = 1,"sanjay", 45.6, 987
print(pack_tuple)

(1, 'sanjay', 45.6, 987)

In [16]:
# unpacking a tuple
a,b,c,d = pack_tuple
print(a)
print(b)
print(c)
print(d)

1
sanjay
45.6
987

In [28]:
print(pack_tuple)
*midle,last = pack_tuple
#print(first)
print(midle)
print(last)

(1, 'sanjay', 45.6, 987)
[1, 'sanjay', 45.6]
987

In [32]:
print(pack_tuple)
first, second, third , last = pack_tuple
print(first)
print(second)
print(third)
print(last)

(1, 'sanjay', 45.6, 987)
1
sanjay
45.6
987

In [33]:
def unpack_tuple(tup):
    first, second, third, last = tup
    print("First:", first)
    print("Second:", second)
    print("Third:", third)
    print("Last:", last)

# Example usage:
pack_tuple = (1, "sanjay", 45.6, 987)
unpack_tuple(pack_tuple)

First: 1
Second: sanjay
Third: 45.6
Last: 987

In [29]:
# Nested tuple

nest_tuple = ((9,8,7),(4,5,6),("hello", 12, 15.8, True))
print(nest_tuple[0])
print(nest_tuple[1])
print(nest_tuple[2])

print("Elements accessing from the sub tuple")
print(nest_tuple[0][1])
print(nest_tuple[1][2])
print(nest_tuple[2][0])

(9, 8, 7)
(4, 5, 6)
('hello', 12, 15.8, True)
Elements accessing from the sub tuple
8
6
hello

In [30]:
# nested list
nest_tuple = [[9,8,7],[4,5,6],["hello", 12, 15.8, True]]
print(nest_tuple[0])
print(nest_tuple[1])
print(nest_tuple[2])

print("Elements accessing from the sub tuple")
print(nest_tuple[0][1])
print(nest_tuple[1][2])
print(nest_tuple[2][0])

[9, 8, 7]
[4, 5, 6]
['hello', 12, 15.8, True]
Elements accessing from the sub tuple
8
6
hello