### arbitrary keyword arguments

In [28]:
def person(**data):
    print(data)
    for k,v in data.items():
        if k == 'firstname' or  k == 'secondname':
             print(k, '  :', v)
             



        

person(firstname='sanjay',secondname2='kalyan',thirdname3='avinash',age=24,mobile=123456789)

{'firstname': 'sanjay', 'secondname2': 'kalyan', 'thirdname3': 'avinash', 'age': 24, 'mobile': 123456789}
firstname   : sanjay

In [2]:
def numbers(**data):
    print(data)
    for k , v in data.items():
        if k == 'num1' or k == 'num2':
            print(k , ':', v)
        elif k == 'age':
            pass
           
    


numbers(num1 = 250, num2 = 230, age = 24)

{'num1': 250, 'num2': 230, 'age': 24}
num1 : 250
num2 : 230

In [ ]:
numbers(name = 'sanjay')

{'name': 'sanjay'}

In [ ]:
numbers(state = 'andhra pradesh' )

{'state': 'andhra pradesh'}