### if_statements

In [1]:
# rorational operators
a = 10
b = 20 
# == equal to
# != not equal to
print("a == b is", a == b)
print("a != b is", a != b)

a == b is False
a != b is True

In [1]:
a = 21
b = 20  
# > greater than
# < less than
print("a > b is", a > b)
print("a < b is", a < b)

a > b is True
a < b is False

In [3]:
a= 10
b = 20
# >= greater than or equal to
# <= less than or equal to
print("a >= b is", a >= b)
print("a <= b is", a <= b)

a >= b is False
a <= b is True

In [4]:
age = 25
if(age == 25):
    print("You are 25 years old")   # the condition evalution is True
else:
    print("You are not 25 years old")# 
if(age != 25):
        print("You are 25 years old")# the condition evalution is False
else:
    print("You are not 25 years old") # the condition evalution is True
if(age < 23):
    print("You are 2 years younger then me") # the condition evalution is False
else:
    print("yes, you are 2 years older than me") # the condition evalution is True
if(age > 23):
    print("You are 2 years older than me") # the condition evalution is True
else:
    print("yes, i am  2 years younger than you") # the condition evalution is False
if(age <= 17):
    print("you are elegible for voting") # the condition evalution is False
else:
    print("you are not elegible for voting") # the condition evalution is True
if(age >= 18):  
    print("you are elegible for voting") # the condition evalution is True  
else:
    print("you are not elegible for voting") # the condition evalution is False

You are 25 years old
You are not 25 years old
yes, you are 2 years older than me
You are 2 years older than me
you are not elegible for voting
you are elegible for voting

In [3]:
print('exam results')
marks = 51
if marks == 50:
    print('you are promoted marks:', marks)
elif marks > 40 and marks<=100:
    print('you pass the exam:')
    if marks >= 45 and marks <=50:
        print('you have good marks:',marks)
    elif marks >60 and marks <=80:
        print('you have a great marks:',marks)   
    elif marks >= 81 and marks <=96:
        print('you got a best marks:',marks)
    elif marks>96 and marks <= 100:
        print('you got the first rank:', marks)
    else:
        print("None of the above")

exam results
you pass the exam:
None of the above

In [5]:
print("exam results")
marks = 90
if marks == 36:
    print("you are pramoting the next class")
elif marks > 80:
    print('you pass the exam')
    if marks > 80:
        print('you have good marks:',marks)
else:
    print('you fail the exam')

exam results
you pass the exam
you have good marks: 90

In [16]:
 ## conditional operators
age = 25
age == 25
age != 25   
age < 23
age > 23
age <= 17
age >= 18
# Logical operators
a = True
b = False   
# and operator
# or operator
# not operator

a = True
b = True
(a and b)

a = True
b = False
(a or b)

a = True
(not a)

False

In [7]:
a = True
b = True
(a and b)

True

In [18]:
a = True
b = False
(a or b)

True

In [1]:
## and, or, not operators

## and operator
# The and operator returns True if both operands are True.
a = True
b = True
print("a and b is", a and b)

a and b is True

### while loop

In [32]:
c = 0
while c < 6:
    c += 1
    if c == 4:
        print('c value is 3')
        continue
    print(c,'hello,sanjay')

1 hello,sanjay
2 hello,sanjay
3 hello,sanjay
c value is 3
5 hello,sanjay
6 hello,sanjay

### for loop

In [7]:
for c in range(1, 6):
    print(c)

1
2
3
4
5

In [8]:
persons = ['sanjay','kalyan','vikram','harish','ravi',]
for name in persons:
    print(name)

sanjay
kalyan
vikram
harish
ravi

In [9]:
name = 'kalyan kumar'
for x in name:
    print(x)

k
a
l
y
a
n

k
u
m
a
r

In [10]:
people = ['sanjay','kalyan','sunil','anil','vinay','rahul','sameer','harish',]
for x in people:
    if x == 'rahul':
        continue
    print(x)

sanjay
kalyan
sunil
anil
vinay
sameer
harish

In [11]:
people = ['sanjay','kalyan','sunil','anil','vinay','rahul','sameer','harish']
for x in people:
    print(x)
else:
    print('rohith')

sanjay
kalyan
sunil
anil
vinay
rahul
sameer
harish
rohith

In [12]:
people = ['sanjay','vinay','arjun','avinash','sai','vinay']
for people in people:
    if people == 'avinash':
        break
    print(people)

sanjay
vinay
arjun