### if_statements

In [1]:
# rorational operators
a = 10
b = 20 
# == equal to
# != not equal to
print("a == b is", a == b)
print("a != b is", a != b)

a == b is False
a != b is True

In [1]:
a = 21
b = 20  
# > greater than
# < less than
print("a > b is", a > b)
print("a < b is", a < b)

a > b is True
a < b is False

In [3]:
a= 10
b = 20
# >= greater than or equal to
# <= less than or equal to
print("a >= b is", a >= b)
print("a <= b is", a <= b)

a >= b is False
a <= b is True

In [4]:
age = 25
if(age == 25):
    print("You are 25 years old")   # the condition evalution is True
else:
    print("You are not 25 years old")# 
if(age != 25):
        print("You are 25 years old")# the condition evalution is False
else:
    print("You are not 25 years old") # the condition evalution is True
if(age < 23):
    print("You are 2 years younger then me") # the condition evalution is False
else:
    print("yes, you are 2 years older than me") # the condition evalution is True
if(age > 23):
    print("You are 2 years older than me") # the condition evalution is True
else:
    print("yes, i am  2 years younger than you") # the condition evalution is False
if(age <= 17):
    print("you are elegible for voting") # the condition evalution is False
else:
    print("you are not elegible for voting") # the condition evalution is True
if(age >= 18):  
    print("you are elegible for voting") # the condition evalution is True  
else:
    print("you are not elegible for voting") # the condition evalution is False

You are 25 years old
You are not 25 years old
yes, you are 2 years older than me
You are 2 years older than me
you are not elegible for voting
you are elegible for voting

In [3]:
print('exam results')
marks = 51
if marks == 50:
    print('you are promoted marks:', marks)
elif marks > 40 and marks<=100:
    print('you pass the exam:')
    if marks >= 45 and marks <=50:
        print('you have good marks:',marks)
    elif marks >60 and marks <=80:
        print('you have a great marks:',marks)   
    elif marks >= 81 and marks <=96:
        print('you got a best marks:',marks)
    elif marks>96 and marks <= 100:
        print('you got the first rank:', marks)
    else:
        print("None of the above")

exam results
you pass the exam:
None of the above

In [5]:
print("exam results")
marks = 90
if marks == 36:
    print("you are pramoting the next class")
elif marks > 80:
    print('you pass the exam')
    if marks > 80:
        print('you have good marks:',marks)
else:
    print('you fail the exam')

exam results
you pass the exam
you have good marks: 90

In [16]:
 ## conditional operators
age = 25
age == 25
age != 25   
age < 23
age > 23
age <= 17
age >= 18
# Logical operators
a = True
b = False   
# and operator
# or operator
# not operator

a = True
b = True
(a and b)

a = True
b = False
(a or b)

a = True
(not a)

False

In [7]:
a = True
b = True
(a and b)

True

In [18]:
a = True
b = False
(a or b)

True

In [1]:
## and, or, not operators

## and operator
# The and operator returns True if both operands are True.
a = True
b = True
print("a and b is", a and b)

a and b is True

### while loop

In [32]:
c = 0
while c < 6:
    c += 1
    if c == 4:
        print('c value is 3')
        continue
    print(c,'hello,sanjay')

1 hello,sanjay
2 hello,sanjay
3 hello,sanjay
c value is 3
5 hello,sanjay
6 hello,sanjay

### for loop

In [7]:
for c in range(1, 6):
    print(c)

1
2
3
4
5

In [8]:
persons = ['sanjay','kalyan','vikram','harish','ravi',]
for name in persons:
    print(name)

sanjay
kalyan
vikram
harish
ravi

In [9]:
name = 'kalyan kumar'
for x in name:
    print(x)

k
a
l
y
a
n

k
u
m
a
r

In [10]:
people = ['sanjay','kalyan','sunil','anil','vinay','rahul','sameer','harish',]
for x in people:
    if x == 'rahul':
        continue
    print(x)

sanjay
kalyan
sunil
anil
vinay
sameer
harish

In [11]:
people = ['sanjay','kalyan','sunil','anil','vinay','rahul','sameer','harish']
for x in people:
    print(x)
else:
    print('rohith')

sanjay
kalyan
sunil
anil
vinay
rahul
sameer
harish
rohith

In [12]:
people = ['sanjay','vinay','arjun','avinash','sai','vinay']
for people in people:
    if people == 'avinash':
        break
    print(people)

sanjay
vinay
arjun

In [2]:
# Example of a control flow statement using if-elif-else
number = 7
if number < 0:
    print("Negative number")
elif number == 0:
    print("Zero")
else:
    print("Positive number")

Positive number

In [1]:
x = 15
y = 10

if x == y:
    print("x is equal to y")
if x != y:
    print("x is not equal to y")
if x > y:
    print("x is greater than y")
if x < y:
    print("x is less than y")
if x >= y:
    print("x is greater than or equal to y")
if x <= y:
    print("x is less than or equal to y")

x is not equal to y
x is greater than y
x is greater than or equal to y

In [4]:
# While loop: print numbers from 1 to 5
i = 1
while i <= 5:
    print("While loop:", i)
    i += 1

# For loop: print numbers from 1 to 5
for j in range(1, 6):
    print("For loop:", j)

While loop: 1
While loop: 2
While loop: 3
While loop: 4
While loop: 5
For loop: 1
For loop: 2
For loop: 3
For loop: 4
For loop: 5

In [3]:
# Demonstrating continue and break operations in a for loop

for i in range(1, 10):
    if i == 5:
        continue  # Skip the rest of the loop when i is 5
    if i == 8:
        break     # Exit the loop when i is 8
    print("Current value:", i)

Current value: 1
Current value: 2
Current value: 3
Current value: 4
Current value: 6
Current value: 7

In [5]:
# Using continue and break in a while loop
count = 0
while count < 10:
    count += 1
    if count == 3:
        continue  # Skip printing when count is 3
    if count == 8:
        break     # Exit loop when count is 8
    print("While loop value:", count)

# Using continue and break in a for loop
for n in range(1, 10):
    if n == 4:
        continue  # Skip printing when n is 4
    if n == 7:
        break     # Exit loop when n is 7
    print("For loop value:", n)

While loop value: 1
While loop value: 2
While loop value: 4
While loop value: 5
While loop value: 6
While loop value: 7
For loop value: 1
For loop value: 2
For loop value: 3
For loop value: 5
For loop value: 6

In [6]:
# Example of using conditions with dictionaries

student = {'name': 'Alice', 'age': 20, 'marks': 85}

if student['marks'] >= 90:
    print(f"{student['name']} got an A grade.")
elif student['marks'] >= 75:
    print(f"{student['name']} got a B grade.")
else:
    print(f"{student['name']} needs improvement.")

# Check if a key exists in the dictionary
if 'age' in student:
    print(f"Age is present: {student['age']}")
else:
    print("Age is not present in the dictionary.")

Alice got a B grade.
Age is present: 20

In [7]:
# Demonstrating some common dictionary methods with the 'student' dictionary

# Get all keys
print("Keys:", student.keys())

# Get all values
print("Values:", student.values())

# Get all key-value pairs
print("Items:", student.items())

# Get value for a specific key with a default
print("Get 'marks':", student.get('marks', 'Not found'))
print("Get 'grade':", student.get('grade', 'Not found'))

# Add a new key-value pair
student['grade'] = 'B'
print("After adding 'grade':", student)

# Remove a key-value pair
removed_age = student.pop('age', None)
print("After removing 'age':", student)
print("Removed age:", removed_age)

# Clear all items
# student.clear()
# print("After clearing:", student)

Keys: dict_keys(['name', 'age', 'marks'])
Values: dict_values(['Alice', 20, 85])
Items: dict_items([('name', 'Alice'), ('age', 20), ('marks', 85)])
Get 'marks': 85
Get 'grade': Not found
After adding 'grade': {'name': 'Alice', 'age': 20, 'marks': 85, 'grade': 'B'}
After removing 'age': {'name': 'Alice', 'marks': 85, 'grade': 'B'}
Removed age: 20

In [8]:
# Creating a new dictionary with some sample data
employee = {
    'id': 101,
    'name': 'John Doe',
    'department': 'IT',
    'salary': 75000
}

# Accessing values
print("Employee Name:", employee['name'])
print("Department:", employee.get('department'))

# Adding a new key-value pair
employee['location'] = 'New York'
print("After adding location:", employee)

# Updating a value
employee['salary'] = 80000
print("After salary update:", employee)

# Removing a key-value pair
removed_department = employee.pop('department', None)
print("After removing department:", employee)
print("Removed department:", removed_department)

# Iterating over keys and values
for key, value in employee.items():
    print(f"{key}: {value}")

Employee Name: John Doe
Department: IT
After adding location: {'id': 101, 'name': 'John Doe', 'department': 'IT', 'salary': 75000, 'location': 'New York'}
After salary update: {'id': 101, 'name': 'John Doe', 'department': 'IT', 'salary': 80000, 'location': 'New York'}
After removing department: {'id': 101, 'name': 'John Doe', 'salary': 80000, 'location': 'New York'}
Removed department: IT
id: 101
name: John Doe
salary: 80000
location: New York

In [13]:
# Example of a control statement program using the variables defined above

if x > y:
    print(f"x ({x}) is greater than y ({y})")
elif x < y:
    print(f"x ({x}) is less than y ({y})")
else:
    print(f"x ({x}) is equal to y ({y})")

if 'grade' in student:
    print(f"{student['name']} has grade: {student['grade']}")
else:
    print(f"{student['name']} does not have a grade assigned.")

if employee['salary'] > 75000:
    print(f"{employee['name']} has a high salary: {employee['salary']}")
else:
    print(f"{employee['name']} has a salary: {employee['salary']}")

if count >= 8:
    print("Count has reached or exceeded 8.")
else:
    print("Count is less than 8.")

x (15) is greater than y (10)
Alice has grade: B
John Doe has a high salary: 80000
Count has reached or exceeded 8.

In [28]:
a = 20
b = 15
student = {'name': 'sanjay','year': 2}
employee = {'name': 'kalyan kumar', 'salary': 45000} 
if a > b:
    print(f"a({a}) is greater then b ({b})")
elif a < b:
    print(f"a {a} is less then b {b}")
else:
    print(f"a {a} is equal to b {b}")

if 'year' in student:
    print(f"{student['name']} has year: {student['year']}")
else:
    print(f"{student['name']} does not have a grade assigned.")

if employee:
    print(f"{employee['name']} has a high salary: {employee['salary']}")
else:
    print(f"{employee['name']} has a salary: {employee['salary']}")

if count >= 8:
    print("Count has reached or exceeded 8.")
else:
    print("Count is less than 8.")

a(20) is greater then b (15)
sanjay has year: 2
kalyan kumar has a high salary: 45000
Count has reached or exceeded 8.

In [10]:
# Example of loop control statements: break, continue, and pass

# Using break
for num in range(1, 10):
    if num == 5:
        print("Breaking the loop at num =", num)
        break
    print("Current number:", num)

# Using continue
for num in range(1, 6):
    if num == 3:
        print("Skipping number 3")
        continue
    print("Number:", num)

# Using pass
for num in range(1, 4):
    if num == 2:
        pass  # Placeholder for future code
    print("Pass example, num =", num)

Current number: 1
Current number: 2
Current number: 3
Current number: 4
Breaking the loop at num = 5
Number: 1
Number: 2
Skipping number 3
Number: 4
Number: 5
Pass example, num = 1
Pass example, num = 2
Pass example, num = 3