In [20]:
## let's create a dictionary
my_dict = {'name': 'sanjay','age': 12,'city': 'chirala', 'age':1}

In [12]:
my_dict.update({'cuntry': 'india'})

In [21]:
my_dict

{'name': 'sanjay', 'age': 1, 'city': 'chirala'}

In [14]:
my_dict.pop('cuntry')

'india'

In [15]:
my_dict.popitem()

('city', 'chirala')

In [6]:
my_dict.update({'state': 'andhra pradesh'})

In [7]:
my_dict

{'name': 'sanjay', 'age': '24', 'state': 'andhra pradesh'}

In [8]:
my_dict['state2'] = 'telangana'

In [9]:
my_dict

{'name': 'sanjay',
 'age': '24',
 'state': 'andhra pradesh',
 'state2': 'telangana'}

In [10]:
del my_dict['age']

In [17]:
my_dict.keys()

dict_keys(['name', 'state', 'state2'])

In [16]:
my_dict.values()

dict_values(['sanjay', 'andhra pradesh', 'telangana'])

In [18]:
## add a new dictionary to my_dict
my_dict.update({'address': {'street': 'vinayaka street', 'city': 'chirala'}})

In [19]:
my_dict

{'name': 'sanjay',
 'state': 'andhra pradesh',
 'state2': 'telangana',
 'address': {'street': 'vinayaka street', 'city': 'chirala'}}

In [20]:
my_dict['city'] = 'chirala'

In [21]:
my_dict

{'name': 'sanjay',
 'state': 'andhra pradesh',
 'state2': 'telangana',
 'address': {'street': 'vinayaka street', 'city': 'chirala'},
 'city': 'chirala'}

In [3]:
student = {"Name":"ABC", "Roll_No": 11,"Age": 15, "Place": "Bangalore"}

In [4]:
student

{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}

In [5]:
student["Name"]

'ABC'

In [7]:
student["Age"]

15

In [12]:
print(student.items())
print(student.keys())
print(student.values())
print(student.get("Age"))
print(student.copy())

dict_items([('Name', 'ABC'), ('Roll_No', 11), ('Age', 15), ('Place', 'Bangalore')])
dict_keys(['Name', 'Roll_No', 'Age', 'Place'])
dict_values(['ABC', 11, 15, 'Bangalore'])
15
{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}

In [20]:
#Shallow copy.

#mistake of shallow copy.
student = {"Name":"ABC", "Roll_No": 11,"Age": 15, "Place": "Bangalore"}

student_1 = student

print(student_1)
print(student)

student_1["Name"] = "ABSC"
student_1["Age"] = 21

print(student_1)
print(student)

student_1["Name"] = "ABSCnhshbbh"
student["Age"] = 28

print(student_1)
print(student)

{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}
{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}
{'Name': 'ABSC', 'Roll_No': 11, 'Age': 21, 'Place': 'Bangalore'}
{'Name': 'ABSC', 'Roll_No': 11, 'Age': 21, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}

In [23]:
#Shallow copy.

student_2 = student.copy()

print(student_2)
print(student)

student_2["Place"] = "E-City"
student_2["Roll_No"] = 52

print(student_2)
print(student_1)
print(student)

{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 52, 'Age': 28, 'Place': 'E-City'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}

In [24]:
#iterating over keys.

for key_1 in student_2.keys():
    print(key_1)

Name
Roll_No
Age
Place

In [27]:
#iterating over values
for value in student_2.values():
    print(value)

ABSCnhshbbh
52
28
E-City

In [28]:
#iterating over key and value pair

for key,value in student_2.items():
    print(f"{key}:{value}")

Name:ABSCnhshbbh
Roll_No:52
Age:28
Place:E-City

In [30]:
#create nested dictionaries

students_data = {
    "student_1":{"Name":"Sanjay","Age": 23, "Roll_No": 14, "Place": "Bangalore"},
    "student_2":{"Name": "kalyan","Age": 28, "Roll_No":18, "Place": "Bangalore"}
}

print(students_data)
print(students_data.items())

{'student_1': {'Name': 'Sanjay', 'Age': 23, 'Roll_No': 14, 'Place': 'Bangalore'}, 'student_2': {'Name': 'kalyan', 'Age': 28, 'Roll_No': 18, 'Place': 'Bangalore'}}
dict_items([('student_1', {'Name': 'Sanjay', 'Age': 23, 'Roll_No': 14, 'Place': 'Bangalore'}), ('student_2', {'Name': 'kalyan', 'Age': 28, 'Roll_No': 18, 'Place': 'Bangalore'})])

In [34]:
#iterative on nested disctionaries

for student_id, students_info in students_data.items():
    print(f"{student_id}:{students_info}")
    print(students_info.items())
    for key, value in students_info.items():
        print(f"{key}:{value}")

student_1:{'Name': 'Sanjay', 'Age': 23, 'Roll_No': 14, 'Place': 'Bangalore'}
dict_items([('Name', 'Sanjay'), ('Age', 23), ('Roll_No', 14), ('Place', 'Bangalore')])
Name:Sanjay
Age:23
Roll_No:14
Place:Bangalore
student_2:{'Name': 'kalyan', 'Age': 28, 'Roll_No': 18, 'Place': 'Bangalore'}
dict_items([('Name', 'kalyan'), ('Age', 28), ('Roll_No', 18), ('Place', 'Bangalore')])
Name:kalyan
Age:28
Roll_No:18
Place:Bangalore

In [4]:
# dictionary comprehension

numbers = {x:x**2 for x in range(10)}
list_comp = [x**2 for x in range(10)] # list comprehension
tup_comp = tuple(x**2 for x in range(10))
print(numbers)
print(list_comp)
print(tup_comp)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [21]:
# Practical example of dictionary

# Use a dictionary to count the frequency of elements in the list.

numbers = [1,2,2,4,3,5,6,4,3,2,1,"Sanjay","Sanjay"]
frequency = {}

print(type(frequency))

for num in numbers:
    if num in frequency:
        frequency[num]/= 2
        print(frequency)
    else:
        frequency[num] = 1
        print(frequency)

print(frequency)

<class 'dict'>
{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 0.5}
{1: 1, 2: 0.5, 4: 1}
{1: 1, 2: 0.5, 4: 1, 3: 1}
{1: 1, 2: 0.5, 4: 1, 3: 1, 5: 1}
{1: 1, 2: 0.5, 4: 1, 3: 1, 5: 1, 6: 1}
{1: 1, 2: 0.5, 4: 0.5, 3: 1, 5: 1, 6: 1}
{1: 1, 2: 0.5, 4: 0.5, 3: 0.5, 5: 1, 6: 1}
{1: 1, 2: 0.25, 4: 0.5, 3: 0.5, 5: 1, 6: 1}
{1: 0.5, 2: 0.25, 4: 0.5, 3: 0.5, 5: 1, 6: 1}
{1: 0.5, 2: 0.25, 4: 0.5, 3: 0.5, 5: 1, 6: 1, 'Sanjay': 1}
{1: 0.5, 2: 0.25, 4: 0.5, 3: 0.5, 5: 1, 6: 1, 'Sanjay': 0.5}
{1: 0.5, 2: 0.25, 4: 0.5, 3: 0.5, 5: 1, 6: 1, 'Sanjay': 0.5}

In [5]:
#merge 2 dictionaries

dict_1 = {"a":1, "b": 2}
dict_2 = {"c":3, "d": 4}

merge_dict = {**dict_1, **dict_2}
print(merge_dict)
merge_dict = {*dict_1, *dict_2}
print(merge_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'d', 'c', 'a', 'b'}