### LIST'S

In [4]:
lst = ['sanjay','kalyan',4 , 4.10 , True]

In [1]:
lst = []
type(lst)

list

In [3]:
print(type(lst))

<class 'list'>

In [9]:
lst

['sanjay', 'kalyan', 4, 4.1, True]

In [10]:
lst

['sanjay', 'kalyan', 4, 4.1, True]

In [11]:
lst

['sanjay', 'kalyan', 4, 4.1, True]

In [12]:
lst.append('vinay')

In [16]:
lst[4]

True

In [17]:
lst.insert(4, False)

In [23]:
type(False)

bool

In [26]:
lst

['sanjay', 'kalyan', 4, 4.1, True]

In [37]:
lst.append('vinay')

In [38]:
lst

['sanjay', 'kalyan', 4, 4.1, True, 'vinay']

In [41]:
lst.insert(4,'sanju')

In [5]:
lst

['sanjay', 'kalyan', 4, 4.1, True]

In [45]:
print("index: 0",lst[0])
print("index: 1",lst[1])
print("index: 2",lst[2])
print("index: 3",lst[3])
print("index: 4",lst[4])
print("index: 5",lst[5])
print("index: 6",lst[6])
print("index: 7",lst[7])
print("index: 8",lst[8])

index: 0 sanjay
index: 1 kalyan
index: 2 4
index: 3 4.1
index: 4 sanju
index: 5 sanju
index: 6 True
index: 7 vinay
index: 8 ashok

In [6]:
lst.clear()

In [7]:
lst = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
# Slicing of the list
print(lst)

#Positive Indexing
print(lst[0:4]) # List sliced from 0 to 3 indexing
print(lst[2:]) # List sliced from index 2 to end of list
print(lst[ :2]) # List sliced from index 0 to 1. By default index is considered as 0
print(lst[4:])
print(lst[:0])
print(lst[0:5])
print(lst[0:6])

#negative Indexing
print(lst[-1:])
print(lst[-3:-1])
print(lst[-5:])
print(lst[-2:-1])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4]
[3, 4, 5, 6, 7, 8, 9, 10]
[1, 2]
[5, 6, 7, 8, 9, 10]
[]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[10]
[8, 9]
[6, 7, 8, 9, 10]
[9]

In [10]:
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
lst.insert(4, 'sanjay')
print(lst.count(4))

2

In [13]:
lst

[1, 2, 3, 4, 'sanjay', 4, 5, 6, 7, 8, 9, 10]

In [19]:
## slicing list
lst.clear()

In [20]:
## slicing list
int = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print(int[::3])
print(int[::4])
print(int[::5])
print(int[::6])
print(int[::2])

[1, 4, 7, 10]
[1, 5, 9]
[1, 6]
[1, 7]
[1, 3, 5, 7, 9]

In [21]:
## iterating our list
for i in   int:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [23]:
for index,i in enumerate(int):
    if i < 6:
      print(index,i)
    else:
       print('print the remaining numbers')

0 1
1 2
2 3
3 4
4 5
print the remaining numbers
print the remaining numbers
print the remaining numbers
print the remaining numbers
print the remaining numbers

In [24]:
for i in range(len(int)):
    if(i < 6):
        print(i,int[i])
    else:
        print("Excess access from index")

0 1
1 2
2 3
3 4
4 5
5 6
Excess access from index
Excess access from index
Excess access from index
Excess access from index

In [1]:
lst = ['sanjay','kalyan','sunil','anil','praveen','vamsi','avinash','mahesh','vinod']

print('char',lst[0])
print(lst[::4])
print(lst[::5])
print(lst[::6])
print(lst[::2])

char sanjay
['sanjay', 'praveen', 'vinod']
['sanjay', 'vamsi']
['sanjay', 'avinash']
['sanjay', 'sunil', 'praveen', 'avinash', 'vinod']

In [2]:
my_list = ["hello", "world", "python"]
for char in my_list[0]:
    print(char)

h
e
l
l
o

In [3]:
list = []
for x in range(10):
    list.append(x**2)
print(list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
square = [list**2 for list in range(10)]

print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
## nested list comprehension

list_1 = [1,2,3]
list_2 = ['sanjay','kalyan']
pair_list = [[i,j]for i in list_1 for j in list_2]

print(pair_list)

[[1, 'sanjay'], [1, 'kalyan'], [2, 'sanjay'], [2, 'kalyan'], [3, 'sanjay'], [3, 'kalyan']]

In [7]:
## list of comprehension with funcction calls

words = ['sanjay','kalyan','indexing','append','insert','remove','clear','list']
lengths = [len(word) for word in words]
print(lengths)

[6, 6, 8, 6, 6, 6, 5, 4]

In [9]:
skills = ['python','java','linux','cloud computing','SQL','AWS','C++' ]
lengths = [len(skill) for skill in skills]
print(lengths)

[6, 4, 5, 15, 3, 3, 3]