In [2]:
## create a list

lst = ['sanjay','kalyan',20,10.5, False]

In [7]:
lst.append(True)

In [8]:
lst

['sanjay', 'kalyan', 20, 10.5, False, True]

In [21]:
lst.count(20)

1

In [26]:
lst.insert (4,'vinay')
print(lst.count('vinay'))

3

In [24]:
print(lst)

['sanjay', 'kalyan', 20, 10.5, 'vinay', 'vinay', False]

In [25]:
# positive indexing method
print(lst)

print("index[0]:", lst[0])
print("index[1]:", lst[1])
print("index[2]:", lst[2])
print("index[3]:", lst[3])
print("index[4]:", lst[4])
print("index[5]:", lst[5])
print("index[6]:", lst[6])

['sanjay', 'kalyan', 20, 10.5, 'vinay', 'vinay', False]
index[0]: sanjay
index[1]: kalyan
index[2]: 20
index[3]: 10.5
index[4]: vinay
index[5]: vinay
index[6]: False

In [ ]:
## negitive indexing method
print(lst)

print("index[-1]:", lst[-1])
print("index[-2]:", lst[-2])
print("index[-3]:", lst[-3])
print("index[-4]:", lst[-4])
print("index[-5]:", lst[-5])
print("index[-6]:", lst[-6])
print('index[-7]:', lst[-7])

['sanjay', 'kalyan', 20, 10.5, 'vinay', False, True]
index[-1]: True
index[-2]: False
index[-3]: vinay
index[-4]: 10.5
index[-5]: 20
index[-6]: kalyan
index[-7]: sanjay

In [27]:
lst

['sanjay', 'kalyan', 20, 10.5, 'vinay', 'vinay', 'vinay', False]

In [30]:
lst.pop(4)

'vinay'

In [31]:
lst

['sanjay', 'kalyan', 20, 10.5, 'vinay', False]

In [32]:
lst.insert(5, 'ashok')
print(lst.count('ashok'))

1

In [26]:
lst.clear()

In [4]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,]

In [37]:
## slicing of the list
print(num)

# positive indexing
print(num[0:5]) # List sliced from 0 to 4 indexing
print(num[4:]) # List sliced from index 4 to end of list
print(num[ :3]) # List sliced from index 0 to 3. By default index is considered as 0
print(num[2:])
print(num[:0])
print(num[0:5])
print(num[0:6])

#negative indexing
#negative Indexing
print(num[-1:])
print(num[-4:-1])
print(num[-4:])
print(num[-3:-1])
print(num[:-5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9, 10]
[1, 2, 3]
[3, 4, 5, 6, 7, 8, 9, 10]
[]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[10]
[7, 8, 9]
[7, 8, 9, 10]
[8, 9]
[1, 2, 3, 4, 5]

In [6]:
## slicing the list

print(num)

print(num[::2])
print(num[::3])
print(num[::4])
print(num[:5])
print(num[::6])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]
[1, 5, 9]
[1, 2, 3, 4, 5]
[1, 7]

In [7]:
## iterating the list
for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
## iterating to the list
for i in range(len(num)):
    if(i<5):
        print(i,num[i])
    else:
        print('index is acces to remaining numbers')

0 1
1 2
2 3
3 4
4 5
index is acces to remaining numbers
index is acces to remaining numbers
index is acces to remaining numbers
index is acces to remaining numbers
index is acces to remaining numbers

In [10]:
names = ['sanjay','kalyan','sunil','anil','praveen','vamsi','avinash','mahesh','vinod']

print('char',names[0])
print(names[::5])
print(names[::3])
print(names[6::])
print(names[::8])

char sanjay
['sanjay', 'vamsi']
['sanjay', 'anil', 'avinash']
['avinash', 'mahesh', 'vinod']
['sanjay', 'vinod']

In [11]:
my_skills = ['java','python','c++']
for char in my_skills[1]:
    print(char)

p
y
t
h
o
n

In [15]:
## list of comprehension
list_1 = []
for x in range(5):
    list_1.append(x**3)
print(list_1)

[0, 1, 8, 27, 64]

In [17]:
# nested list comprehension
int_1 = [1, 2, 3, 4]
str_1 = ['sanjay','kalyan']
pair_list = [[i,j] for i in int_1 for j in str_1]
print(pair_list)

[[1, 'sanjay'], [1, 'kalyan'], [2, 'sanjay'], [2, 'kalyan'], [3, 'sanjay'], [3, 'kalyan'], [4, 'sanjay'], [4, 'kalyan']]

In [19]:
## list of comprehension function call
keywords = ['append','insert','indexing','remove','range','enumerate','del']
lengths = [len(keyword) for keyword in keywords]
print(lengths)

[6, 6, 8, 6, 5, 9, 3]

In [20]:
skills = ['python','java','linux','cloud computing','SQL','AWS','C++' ]
lengths = [len(char) for char in skills]
print(lengths)

[6, 4, 5, 15, 3, 3, 3]

### dictionary_method

In [1]:
students = {'name': 'doguparthi sanjay','register num': '20bj5a0464','branch': 'ECE','year of joining':2020}

In [3]:
students

{'name': 'doguparthi sanjay',
 'register num': '20bj5a0464',
 'branch': 'ECE',
 'year of joining': 2020}

In [5]:
students['name']

'doguparthi sanjay'

In [7]:
students['branch']

'ECE'

In [8]:
students.update({'age':21})

In [9]:
students

{'name': 'doguparthi sanjay',
 'register num': '20bj5a0464',
 'branch': 'ECE',
 'year of joining': 2020,
 'age': 21}

In [10]:
students['country'] = 'india'

In [11]:
students

{'name': 'doguparthi sanjay',
 'register num': '20bj5a0464',
 'branch': 'ECE',
 'year of joining': 2020,
 'age': 21,
 'country': 'india'}

In [12]:
student = {"Name":"ABC", "Roll_No": 11,"Age": 15, "Place": "Bangalore"}

In [13]:
print(student.items())
print(student.keys())
print(student.values())
print(student.copy())

dict_items([('Name', 'ABC'), ('Roll_No', 11), ('Age', 15), ('Place', 'Bangalore')])
dict_keys(['Name', 'Roll_No', 'Age', 'Place'])
dict_values(['ABC', 11, 15, 'Bangalore'])
{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}

In [14]:
#Shallow copy.

#mistake of shallow copy.
student = {"Name":"ABC", "Roll_No": 11,"Age": 15, "Place": "Bangalore"}

student_1 = student

print(student_1)
print(student)

student_1["Name"] = "ABSC"
student_1["Age"] = 21

print(student_1)
print(student)

student_1["Name"] = "ABSCnhshbbh"
student["Age"] = 28

print(student_1)
print(student)

{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}
{'Name': 'ABC', 'Roll_No': 11, 'Age': 15, 'Place': 'Bangalore'}
{'Name': 'ABSC', 'Roll_No': 11, 'Age': 21, 'Place': 'Bangalore'}
{'Name': 'ABSC', 'Roll_No': 11, 'Age': 21, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}

In [15]:
#Shallow copy.

student_2 = student.copy()

print(student_2)
print(student)

student_2["Place"] = "E-City"
student_2["Roll_No"] = 52

print(student_2)
print(student_1)
print(student)

{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 52, 'Age': 28, 'Place': 'E-City'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}
{'Name': 'ABSCnhshbbh', 'Roll_No': 11, 'Age': 28, 'Place': 'Bangalore'}

In [ ]:
# iterating over the keys
for key in student.keys():
    print(key)

Name
Roll_No
Age
Place

In [17]:
# iterating over the values
for value in student.values():
    print(value)

ABSCnhshbbh
11
28
Bangalore

In [18]:
# iterating over the keys and values pair
for key, value in student.items():
    print(key, ":", value)

Name : ABSCnhshbbh
Roll_No : 11
Age : 28
Place : Bangalore

In [19]:
#create nested dictionaries

students_data = {
    "student_1":{"Name":"Sanjay","Age": 23, "Roll_No": 14, "Place": "Bangalore"},
    "student_2":{"Name": "kalyan","Age": 28, "Roll_No":18, "Place": "Bangalore"}
}

print(students_data)
print(students_data.items())

{'student_1': {'Name': 'Sanjay', 'Age': 23, 'Roll_No': 14, 'Place': 'Bangalore'}, 'student_2': {'Name': 'kalyan', 'Age': 28, 'Roll_No': 18, 'Place': 'Bangalore'}}
dict_items([('student_1', {'Name': 'Sanjay', 'Age': 23, 'Roll_No': 14, 'Place': 'Bangalore'}), ('student_2', {'Name': 'kalyan', 'Age': 28, 'Roll_No': 18, 'Place': 'Bangalore'})])

In [20]:
#iterative on nested disctionaries

for student_id, students_info in students_data.items():
    print(f"{student_id}:{students_info}")
    print(students_info.items())
    for key, value in students_info.items():
        print(f"{key}:{value}")

student_1:{'Name': 'Sanjay', 'Age': 23, 'Roll_No': 14, 'Place': 'Bangalore'}
dict_items([('Name', 'Sanjay'), ('Age', 23), ('Roll_No', 14), ('Place', 'Bangalore')])
Name:Sanjay
Age:23
Roll_No:14
Place:Bangalore
student_2:{'Name': 'kalyan', 'Age': 28, 'Roll_No': 18, 'Place': 'Bangalore'}
dict_items([('Name', 'kalyan'), ('Age', 28), ('Roll_No', 18), ('Place', 'Bangalore')])
Name:kalyan
Age:28
Roll_No:18
Place:Bangalore

In [21]:
# Practical example of dictionary

# Use a dictionary to count the frequency of elements in the list.

numbers = [1,2,2,4,3,5,6,4,3,2,1,"Sanjay","Sanjay"]
frequency = {}

print(type(frequency))

for num in numbers:
    if num in frequency:
        frequency[num]+= 2
        print(frequency)
    else:
        frequency[num] = 1
        print(frequency)

print(frequency)

<class 'dict'>
{1: 1}
{1: 1, 2: 1}
{1: 1, 2: 3}
{1: 1, 2: 3, 4: 1}
{1: 1, 2: 3, 4: 1, 3: 1}
{1: 1, 2: 3, 4: 1, 3: 1, 5: 1}
{1: 1, 2: 3, 4: 1, 3: 1, 5: 1, 6: 1}
{1: 1, 2: 3, 4: 3, 3: 1, 5: 1, 6: 1}
{1: 1, 2: 3, 4: 3, 3: 3, 5: 1, 6: 1}
{1: 1, 2: 5, 4: 3, 3: 3, 5: 1, 6: 1}
{1: 3, 2: 5, 4: 3, 3: 3, 5: 1, 6: 1}
{1: 3, 2: 5, 4: 3, 3: 3, 5: 1, 6: 1, 'Sanjay': 1}
{1: 3, 2: 5, 4: 3, 3: 3, 5: 1, 6: 1, 'Sanjay': 3}
{1: 3, 2: 5, 4: 3, 3: 3, 5: 1, 6: 1, 'Sanjay': 3}

In [26]:
#merge 2 dictionaries

dict_1 = {"a":1, "b": 9}
dict_2 = {"c":8, "d": 4}

merge_dict = {**dict_1, **dict_2}
print(merge_dict)
merge_dict = {**dict_2, **dict_1}
print(merge_dict)

{'a': 1, 'b': 9, 'c': 8, 'd': 4}
{'c': 8, 'd': 4, 'a': 1, 'b': 9}